@model ErrorViewModel
@{
    ViewData["Title"] = "Erreur";
}

<h1 class="text-danger">Erreur.</h1>
<h2 class="text-danger">Une erreur s'est produite lors du traitement de votre demande.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID de la requête :</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Mode développement</h3>
<p>
    Passer à l'environnement <strong>Development</strong> affichera des informations plus détaillées sur l'erreur survenue.
</p>
<p>
    <strong>L'environnement de développement ne doit pas être activé pour les applications déployées.</strong>
    Cela peut entraîner l'affichage d'informations sensibles aux utilisateurs.
    Pour le débogage local, activez l'environnement <strong>Development</strong> en définissant la variable d'environnement <strong>ASPNETCORE_ENVIRONMENT</strong> à <strong>Development</strong>
    et en redémarrant l'application.
</p>
